html {
  box-sizing: border-box;
  font-family: $font-family;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: .5rem;
}
h1 {
  font-size: 54px;
}
h2 {
  font-size: 34px;
}

header,
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  text-align: center;
  h2 {
    position: relative;
    padding-bottom: 20px;
    top: -20px;
  }
  p {
    padding: 10px;
    line-height: 24px;
    font-weight: lighter;
  }
}
