// MIXINS
@mixin bordered-container($color) {
  position: relative;
  border-left: 2px solid $color;
  border-right: 2px solid $color;
  border-bottom: 2px solid $color;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 25%;
    height: 2px;
    top: 0;
    left: 0;
    background-color: $color;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 25%;
    height: 2px;
    top: 0;
    right: 0;
    background-color: $color;
  }
}