.services {
  background-image: url('../img/services.png');
  background-position: center;
  background-size: cover;
  height: 490px;
  color: $color-primary;
  .container{
    max-width: 900px;
    @include bordered-container($color-primary);
  }
}